<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li role="presentation" class="sidebar-brand">
                <a routerLink="/">
                    NodePad
                </a>
            </li>
            <li role="presentation">
                <a routerLink="/user">Login</a>
            </li>
            <li role="presentation">
                <a routerLink="/user">Sign Up</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="header">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">|||</a>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
